extends ../layout
block content
	div#admin-wrapper(ng-app="admin",ng-controller="MainCtl")
		if context.log
			connect(log="#{context.log.title}")
		include ../menu
		include ../header
		section#admin-body.container-fluid(ng-controller="GaleriesCtl")
			div.row
				aside#admin-left-side.content.col-xs-12.col-sm-3.col-md-2.col-lg-2
					include sidebar
				section.col-xs-12.col-sm-9.col-md-10.col-lg-10.row
					h1 Administration des galeries photos
					div#message(ng-show='messageshow') {{msg}} {{test}}
					article#admin-content.content.liste.col-xs-12.col-sm-12.col-md-8.col-lg-8
						include liste
					article#admin-content-form.content.form.col-xs-12.col-sm-12.col-md-4.col-lg-4
						input(id="schema",type="hidden",ng-model="schema",value="#{schema}")
						include forms/galerie
					div#msg-photos Merci de sauvegarder la galerie avant de pouvoir y ajouter des photos.
					div(class="row")
						//- div(ng-include="'/static/js/admin/templates/icon_photo.html'")
						div#spinner(ng-show='isloading')
								img(src='/static/img/spinner.gif',alt='waiting spinner')
						div(id="content-photos",agdragdrop)
							div(class="icone-photo",id="icone-photo-{{photo._id}}",data-order="{{photo.order_num}}",ng-repeat="photo in objet.photos | orderBy: 'order_num'")
								input(type="hidden",class="id-photo",id="id-photo-{{photo._id}}",value="{{photo._id}}")
								p(id="supp-{{photo._id}}",class="p-supp")
									a(data-id="{{photo._id}}",data-name="{{photo.name}}",data-galerie="{{photo._galerie}}",data-order="{{photo.order_num}}",class="a-supp-photo",ng-click="deletePhoto($event)") &nbsp;X
								table
									tr
										td(class="photo")
											img(src="/uploads/galeries/{{photo._galerie}}/thumbnails/{{photo.name}}",alt="photo de {{photo.legend}}",draggable="false")
											p(class="photo-legend")
												input(type="text",data-id="{{photo._id}}",data-name="{{photo.name}}",class="legend",name="legend-{{photo._id}}",value='{{photo.legend}}',ng-keyup="updatePhoto($event)")
						add_photo
		include ../footer
		
