extends ../layout
block content
	div#admin-wrapper(ng-app="admin",ng-controller="GeneralitesCtl")
		if context.log
			connect(log="#{context.log.title}")
		include ../menu
		include ../header
		section#admin-body.row
			aside#admin-left-side.content.col-xs-12.col-sm-12.col-md-2.col-lg-2
				include sidebar
			article#admin-content.content.liste.col-xs-12.col-sm-12.col-md-10.col-lg-10
				h1 Administration des valeurs générales du site.
				div#message(ng-show='messageshow') {{msg}}
				table
					tr
						fieldset#add-param
							legend Ajouter un paramètre
							div#div-add-param
								label(for="typefield") Action
								select(ng-model='typefield',ng-init="typefield='none'")
									option(value="none") ----
									option(value="input") input
									option(value="textarea") textarea
								add-gen-field(typefield="{{typefield}}")
				input(type="hidden",id="csrf_token",name="csrf_token",value="#{context.csrf_token}")
				hr(id="limit")
				div#liste-generalites
					for elt in liste
						if elt.type == 'input'
							include forms/input_general
						else
							include forms/textarea_general
				div#confirm-del(ng-show='confirmshow')
					confirm-window()
				
		include ../footer
		
