ul
	li 
		a(href="/admin/actualite/",role="navigation") Evénements
	li 
		a(href="/admin/cours/",role="navigation") Cours
	li
		a(href="/admin/galerie/", role="navigation") Galeries photos
	li 
		a(href="/admin/generalite/") Généralités
	li
		a(href="/admin/user/") Utilisateurs
