extends layout.jade

block content
	div#wrapper(ng-app="index",ng-controller="ActualiteCtl")
		include menu.jade
		include header
		section#row1-body.row.content
			div.actus.col-xs-12.col-sm-12.col-md-6.col-lg-7
				p.titre-rubrique Liste des actualités
				div.liste-actus
					each actu in actualites
						include actualite
			aside.aside.hidden-xs.hidden-sm.col-md-6.col-lg-5
				p.titre-rubrique Manifestations
				div.nav-plugins 
					p.titre-rubrique Calendrier des manifestations
					calendar(instance='0',dates='actualites')
					p.titre-rubrique Historique des actualités
						ul
							each actu in actualites
								li
									a(href="##{actu._id}") #{actu.title}
		include footer
