div#connect
	div#connect-block
		span#detect-zone Bienvenue #{context.log.title}
		ul
			li
				a(href="/admin/",alt="vers interface d'administration") Administration du site
			li
				a(href="/admin/logout/",alt="deconnexion") Se déconnecter
