footer#admin-footer.row
	div#admin-footer-left.pull-left.col-xs-12.col-sm-12.col-md-4.col-lg-4
		li
			a(href="http://wwww.agprog.net") Développé par agprog.net
		li
			a(href="/licence") Informations de licence
		li
			a(href="/utilises") Propulsé par nodejs, expressjs et angularjs
	div#admin-footer-medium.pull-left.col-xs-12.col-sm-12.col-md-4.col-lg-4
		li
			a(href="/" role="navigation") Accueil
		li
			a(href="/admin" role="navigation") Administration
	div#admin-footer-right.pull-left.col-xs-12.col-sm-12.col-md-4.col-lg-4
		li
			a(href="/mentions") Mentions légales
		li
			a(href="/logout") Se déconnecter
