extends layout
block content
	div#wrapper-ie
		include header
		section#row1-body.row
			div#row1-left.content-left
			div#row1-middle-content.content.liste
				div#content-browsers
					h1(style="color:#18181C;") Navigateur obsolète
					br
					p 	Le contenu du site ne s'affichera pas correctement en utilisant une version d'internet explorer inférieure à la version 9.
					p	Ce navigateur est obsolète et présente des failles de sécurité. Merci de le mettre à jour vers explorer 11 ou utiliser un navigateur alternatif 
						| gratuit comme mozilla firefox, google chrome ou opéra.
					table#browsers
						tr
							td
								a(id="a-ie",class='a-browser',href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie",target="__blank")
									span(class="navigator") Explorer
									span(class="brand") Microsoft
							td
								a(id="a-firefox",class="a-browser",href="http://www.mozilla.com/firefox/",target="__blank")
									span(class="navigator") Firefox
									span(class="brand") Mozilla Foundation
							td
								a(id="a-opera",class="a-browser",href="http://www.opera.com/browser/",target="__blank")
									span(class="navigator") Opéra
									span(class="brand") Opera software
							td
								a(id="a-chrome",class="a-browser",href="http://www.google.com/chrome/browser/desktop/",target="__blank")
									span(class="navigator") Chrome
									span(class="brand") Google
				div#row1-right.content-right
				style(rel="stylesheet").
					html{
						width:100%;
					}
					#wrapper-ie h1{
						color:#fff;
					}
					#titre-nav-obs{
						color:#18181C;
					}
					body{
						background-position:50%;
						width:80%;
						margin:0 10%;
					}
