extends layout.jade

block content
	div#wrapper(ng-app="index",ng-controller="IndexCtl")
		include header
		include menu.jade
		section#row1-body.row
			div#row1-left-content.content.liste.col-xs-12.col-sm-12.col-md-6.col-lg-7
				div#welcome.hpart(ng-bind-html='welcome')
				div#cours.hpart 
					p.titre-rubrique Les différents cours dispensés sont les suivants
					panel(instance='0',items='cours',template='/static/js/index/templates/panel-content.html')
			div#row1-right-content.content.form.col-xs-12.col-sm-12.col-md-6.col-lg-5
				div.hpart
					p.titre-rubrique Manifestations
					calendar(instance='0',dates='actualites')
				div.hpart
					p.titre-rubrique Actualités
					carousel(sens='1',defilement='v',instance='0',slides='actualites',template='/static/js/index/templates/carousel-content.html')
				
		include footer
