
<!-- Ce menu n'apparait que sur les menu basses résolutions, portables et tablettes-->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top menu menu-top hidden-sm hidden-md hidden-lg row">
  <div class="container-fluid"></div>
  <!--Brand and toggle get grouped for better mobile display-->
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#menu-top" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">aikido pratt</a>
  </div>
  <!--Collect the nav links, forms, and other content for toggling-->
  <div id="menu-top" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/actualites/">Agenda</a></li>
      <li><a href="/galeries/">Galeries photos</a></li>
      <li><a href="/presse/">Presse</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="http://fr.wikipedia.org/wiki/Morihei_Ueshiba" target="_blank">O'Senseï</a></li>
      <li><a href="http://www.afatj.com/sensei.html" target="_blank">Hikitsushi Senseï</a></li>
      <li><a href="http://www.afatj.com/blaize.html" target="_blank">Gérard Blaize</a></li>
    </ul>
  </div>
</nav>
<!-- Ce second menu n'apparait que dans les grandes résolutions-->
<nav id="menu-principal" role="navigation" class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid"></div>
  <!--Brand and toggle get grouped for better mobile display-->
  <!--Collect the nav links, forms, and other content for toggling-->
  <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="elt-menu"><a href="/">Accueil</a></li>
      <li class="elt-menu"><a href="/actualites/">Agenda</a></li>
      <li class="elt-menu"> <a href="/galeries/">Galeries Photos</a></li>
      <li class="elt-menu"><a href="/presse/">Presse</a></li>
      <li class="elt-menu"> <a href="/contact/">Contact</a></li>
      <li class="elt-menu">
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class="btn btn-default dropdown-toggle"><span>Les maitres &nbsp;</span><span class="caret">&nbsp;</span></button>
        <ul role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="http://fr.wikipedia.org/wiki/Morihei_Ueshiba" target="_blank">O'Senseï</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.afatj.com/sensei.html" target="_blank">Hikitsushi Senseï</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.afatj.com/blaize.html" target="_blank">Gérard Blaize</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>