/*TABLE OF CONTENTS
01 - Font faces
02 - Reset
03 - Global 
04 - General Layout
05 - Header
06 - Content
07 - Slideshow
08 - Carousel
09 - Sidebar
10 - Mentions Legales
11 - Licences
12 - Panel
13 - Login
14 - Footer
15 - Media Queries
*/
/*//////////////////////////////////////////////////////////////////////
// 00 - COULEURS CHARTE GRAPHIQUE
// 
// MARRON CLAIR       :       #4C4B38
// BEIGE-ORANGE-FRANC :       #E8B769
// BEIGE-CLAIR :              #E3CCA2
// GRIS-BEIGE-CLAIR  :        #D8CEC2
// GRIS-CLAIR-FRANC  :        #C9C9C9
// GRIS-CLAIR-NUANCE-FONCEE : #C5BEAF
// 
//
// 
 /////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////
// 01 - FONT FACES
//////////////////////////////////////////////////////////////////////*/

@font-face{
	font-family:'promocyja';
	src: url('fonts/promocyja-webfont.eot');
	src: url('fonts/promocyja-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/promocyja-webfont.woff') format('woff'),
	     url('fonts/promocyja-webfont.ttf') format('truetype'),
	     url('fonts/promocyja-webfont.svg#promocyja') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family: 'arizoniaregular';
	    src: url('../fonts/arizonia-regular-webfont.eot');
	    src: url('../fonts/arizonia-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/arizonia-regular-webfont.woff2') format('woff2'),
	         url('../fonts/arizonia-regular-webfont.woff') format('woff'),
	         url('../fonts/arizonia-regular-webfont.ttf') format('truetype'),
	         url('../fonts/arizonia-regular-webfont.svg#arizoniaregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
	font-family: 'tempus';
		src: url('../fonts/tempus-sans-itc.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
}
/* ///////////////////////////////////////////////////////////////////// 
//  02 - Reset
/////////////////////////////////////////////////////////////////////*/

/**

 HTML5 & 4 reset stylesheet
 Adapted from YUI & HTML5 Doctor
 v1.0
 
**/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,img,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,hgroup,menu,nav,summary,time,mark,audio,video,header,footer { 
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:inherit;
    font-family:inherit;
    vertical-align:baseline;
    background:transparent;
}

html { 
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
	overflow-y:none;
}

ol,ul { 
	list-style:none; 
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,img { 
    display:block;
}

blockquote,q {
    quotes:none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration:line-through;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

strong{font-weight:bold;}
em{font-style:italic;}

input, 
select {
    vertical-align:middle;
}

table {	
	border-collapse:separate; 
	border-spacing:0; 
}
caption,
th,
td { 
	text-align:left; 
	font-weight:normal; 
}

input { 
	vertical-align:middle; 
}
::-webkit-input-placeholder { color:#c0; font-family:Ubuntu,Arial; }
::-moz-placeholder { color:#c0; font-family:Ubuntu,Arial;} /* firefox 19+ */
:-ms-input-placeholder { color:#c0;font-family:Ubuntu,Arial; } /* ie */
input:-moz-placeholder { color:#c0;font-family:Ubuntu,Arial; }
img,
object,
embed {max-width: 100%;}

/*//////////////////////////////////////////////////////////////////////
/// 03 - GLOBAL
//////////////////////////////////////////////////////////////////////*/
html{font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;}
a {color: #00B7FF;}
body {font-size:0.8em;
	background-color:#373738;
	background-image:url('/static/img/portique.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	}
h1{font-family:tempus;font-size:2.5em;text-align:center;font-weight:600;}
#connect{position:fixed;top:0;max-width:1115px;width:100%;margin:0 auto;background-color:#000;height:30px;z-index:1040;}
#connect-block{float:right;color:#fff;width:17%;height:30px;}
#connect-block>span{display:block;height:30px;line-height:30px;margin-left:2%;}
#connect-block>span>a:hover{color:#fff;}
#connect-block>ul{height:60px;margin:0;width:100%;}
#connect-block li{width:100%;}
#connect-block li>a,#connect-block li>a:hover{display:block;background-color:#000;color:#fff;text-decoration:none;width:100%;height:30px;line-height:30px;margin:0;text-indent:2%;}

#wrapper{
	/*max-width:1115px;*/
	width:100%;
	margin:0 auto;
	
	/*-khtml-opacity:.50; 
	-moz-opacity:.50; 
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
	opacity:.50;*/
	}

#admin-body{min-height:400px;}
.head-site{
			width:100%;
			max-height:200px;
			margin-top:60px;
			padding:0%;
			background-color:transparent;
			text-align:center;}
.content{
		/*background-color:#fbfcd1;*/
		margin:0 auto;
		min-height:605px;
		opacity:0.9;
		}

#welcome{
	background-color:#E1CF92;
	min-height:635px;
	padding:2%;
}
#welcome>.img{
	margin:2%;
	padding:2%;
}
#welcome>.text{
	padding-left:2%;
	font-size:1.1em;
	text-indent:5%;
}
.hpart{
		position:relative;
		margin:0 5%;
		/*border:thin solid #000;*/}
.titre-rubrique{margin:0;font-family:tempus;font-weight:600;text-align:center;font-size:2.2em;color:#fbfcd1;padding:0.7em 0;}
/*//////////////////////////////////////////////////////////////////////
 * /// 04 - MENU BOOTSTRAP
 * ///////////////////////////////////////////////////////////////////*/
 #menu-principal{
	background-color:transparent;
	background-image:url('../img/menu.png');
	background-size:100%;
	background-repeat:no-repeat;
	border:none;
	border-radius:0;
	font-size:1.5em;
	
 }
 #menu-principal a{color:#000;}
 .navbar-nav{
	width:75%;
	margin:0 30%;
	text-align:center;
 }
 .dropdown-menu{
	margin-top:0;
	padding-top:0;
	background-color:#B08B61;
	font-size:0.9em;
	color:#333;
 }
 .dropdown-menu>li>a:hover{
	background-color:#fbfcd1;
 }
 .dropdown-toggle{
	height:50px;
	line-height:50px;
	background-color:transparent;
	font-size:1em;
	border:none;
	color:#333;
 }
 .dropdown-toggle:hover,.dropdown-toggle:active,{
	background-color:transparent;
 }
 .btn-default{
	background-color:transparent;
	padding:0 5px;
  }
 .btn-default:hover{
	background-color:transparent;
	color:#333;
 }
 .open>.dropdown-toggle.btn-default{
	background-color:#B08B61;
}
 .open>.dropdown-toggle.btn-default:focus{
	background-color:#B08B61;
	}
 /*/////////////////////////////////////////////////////////////////////
  * // 06 - FORMULAIRE DE CONTACT
  * //////////////////////////////////////////////////////////////////*/
 #contact{
	width:80%;
	margin:1% auto;
	padding:1% 5%;
	background-color:#fbfcd1;
	opacity:0.9;
 }
 #texte{
	font-size:1.1em;
 }
 .message-titre{
	font-size:1.3em;
	text-decoration:underline;
	margin:2% 0;
 }
 .message-content{
	margin-left:2%;
 }
 #contact-form{
	width:75%;
	margin:2% auto;
 }
 .form-line{
	width:80%;
	margin-top:5px;
 }
 .form-line>label{
	width:30%;
	vertical-align:top;
 }
 .form-line>input,.form-line>textarea{
	width:70%;
	font-size:1.1em;
 }
 .form-line>textarea{
	height:150px;
 }
 #submit-line{
	text-align:right;
 }
 .form-line>input[type='submit']{
	width:25%;
	margin-right:2%;
 }
 .error{
	background-color:orange;
	border:solid 4px orange; 
}
/*//////////////////////////////////////////////////////////////////////
 * /// 07 - ACTUALITES
 * ///////////////////////////////////////////////////////////////////*/
 .aside{
	display:block;
	
 }
 .aside a{
	font-size:1.2em;
	
}
.nav-plugins .titre-rubrique{
	color:#05A7E6;
}
.nav-plugins ul{
	margin-left:25%;
}
.nav-plugins li>a{
	color:#000;
}
.nav-plugins{
	background-color:#fbfcd1;
	/*margin-top:20px;*/
	/*min-height:605px;*/
	opacity:0.9;
}
.liste-actus{
}
 .actu{
	background-color:#fbfcd1;
	width:90%;
	min-height:300px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
 }
 .actu .title{
	font-size:2em;
	font-family:tempus;
	text-align:center;
	padding:2%;
 }
 .actu a{
	
 }
 .actu .rdv{
	text-align:center;
 }
 .actu .location,.actu .coordonnees{
	text-align:center;
 }
 .actu-content{
	margin:5%;
	text-indent:5%;
	text-align:justify;
 }
 .link,.metas{
	margin-left:5%;
 }
 
/*//////////////////////////////////////////////////////////////////////
 * /// 08 - CAROUSEL 
 * ///////////////////////////////////////////////////////////////////*/
#carousel-commands-v-0-hover{
	position:absolute;
	top:220px;
	margin-bottom:5%;
	width:100%;
	height:30px;
	text-align:center;
	-moz-transition:height 1s linear;
	-webkit-transition:height 1s linear;
	-o-transition:height 1s linear;
	transition:height 1s linear;
	z-index:999;
	background-color:none;
}
#carousel-commands-v-0-hover > .commands-first,
#carousel-commands-v-0-hover > .commands-less-one,
#carousel-commands-v-0-hover > .commands-play,
#carousel-commands-v-0-hover > .commands-plus-one,
#carousel-commands-v-0-hover > .commands-last{
	display:inline-block;
	width:27px;
	height:27px;
	z-index:999;
	background-image:url(../img/carrousel.png);
	background-size:570px;
	background-repeat:no-repeat;
	background-color:none;
}
#carousel-commands-v-0-hover > .commands-first{background-position:-129px 0;}
#carousel-commands-v-0-hover > .commands-less-one{background-position:-158px 0;}
#carousel-commands-v-0-hover > .commands-play{background-position:-185px 0;}
#carousel-commands-v-0-hover > .commands-plus-one{background-position:-216px 0;}
#carousel-commands-v-0-hover > .commands-last{background-position:-247px 0;}


#list-slides-h-0,#list-slides-v-0{
	/*-moz-transition:all  2s linear;
	-webkit-transition:all 2s linear;
	-o-transition:all 2s linear;
	transition:all 2s linear;*/
}
/*! *** carrousel vertical *** */
.animate{
    -moz-transition:margin 2s;
    -ms-transition:margin 2s;
    -webkit-transition:margin 2s;
    -o-transition:margin 2s;
    transition:margin 2s;
}
.animate-multi{
	-moz-transition:margin 0.2s;
    -ms-transition:margin 0.2s;
    -webkit-transition:margin 0.2s;
    -o-transition:margin 0.2s;
    transition:margin 0.2s;
}
#container-v-0,#container-v-0-hover{
	position:relative;
	width:95%;
	max-width:432px;
	height:270px;
	overflow:hidden;
	margin:1%
	border:1px solid #574C43;
	margin-bottom:2%;
	/*-moz-box-shadow: 10px 10px 5px 0px #c0c0c0;
	-webkit-box-shadow: 10px 10px 5px 0px #c0c0c0;
	-o-box-shadow: 10px 10px 5px 0px #c0c0c0;
	box-shadow: 10px 10px 5px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);*/
	z-index:10;
}
#container-v-0-hover{
	height:270px;
	border-right:1px solid #574C43;
	border-bottom:1px solid #574C43;
	z-index:10;
}
#screen-v-0,.screen-v-0-hover{
	position:absolute;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	height:270px;
	overflow:hidden;
	margin:0 auto;
	background-color:transparent;
	z-index:0;
}
#screen-v-0-hover{
	/*position:absolute;
	top:30px;*/
	z-index:1;
}
.zone-v-0{
	display:block;
	vertical-align:top;
	width:100%;
	height:270px;
	padding:2%;
	overflow:hidden;
	background-color:#E1CF92;
	z-index:1;
}

#list-slides-v-0{
	position:absolute;
	top:-270px;
}
.slides-0{
	padding:1em;
	z-index:1;
	border-radius:10px;
}
.less-command-v-0,.plus-command-v-0,.less-command-v-0-hover,.plus-command-v-0-hover{
	-moz-transition:height  0.5s linear;
	-webkit-transition:height 0.5s linear;
	-o-transition:height 0.5s linear;
	transition:height 0.5s linear;
}
.less-command-v-0-hover,.plus-command-v-0-hover{
	position:absolute;
	width:20%;
	height:20px;
	margin-left:40%;
	text-align:center;
	background-image:url(../img/carrousel.png);
	background-repeat:no-repeat;
	cursor:pointer;
}
.less-command-v-0-hover{
	top:0px;
	margin-top:3px;
	margin-bottom:5px;
	background-position:-5px -181px;
}
.plus-command-v-0-hover{
	top:297px;
	margin-top:5px;
	background-position:-5px -220px;
}
.actu-pj,.actu-block-pj{
	display:inline-block;
	vertical-align:top;
	font-size:1.1em;
}
.actu-block-pj{width:65%;border-top-left-radius:10px;border-bottom-left-radius:10px;}
.actu-block{width:100%;border-radius:10px;}

.actu-title{padding:1%;text-align:center;font-size:1.2em;}
.actu-title a{
	text-decoration:underline;
	color:#4C4B38;
	
}
.actu-rdv{margin:4% auto;text-align:center;font-style:italic;font-size:1em;}

.actu-excerpt{text-align:justify;font-size:1em;padding:5%;text-indent:10%;}
.actu-pj{width:33%;padding:2%;border-top-right-radius:10px;border-bottom-right-radius:10px;}
.actu-pj>img{width:99%;margin:2% auto;}
.actu-pj{font-size:1em;text-align:center;}
.actu-pj>a{margin-top:2%;text-align:center;}
.actu-pj img{padding:2%;border:thin solid #fff;}
/*//////////////////////////////////////////////////////////////////////
 * /// 09 - GALERIES PHOTOS
 * ///////////////////////////////////////////////////////////////////*/
 .galeries .content{
	text-align:center;
 }
 #gallery a:hover{
	text-decoration:none;
 }
 .content-galery,.content-galery-detail{
	position:relative;
	display:inline-block;
	margin-top:20px;
	margin-left:15px;
	width:200px;
	height:200px;
	overflow:hidden;
	border:3px solid #fff;
	border-radius:10px;
 }
 .content-flex{
	position:relative;
	display:inline-block;
	width:200px;
	height:200px;
	z-index:0;
 }
 .content-galery-detail{
	height:230px;
 }
 .img-galery,.img-flex{
	position:absolute;
	display:block;
	z-index:0;
	border-radius:10px;
 }
.content-galery a,.content-galery-detail a,.content-galery-detail a:hover,.content-galery a:hover{color:#fff;text-decoration:none;}
.title-galery,.title-flex{position:absolute;
			display:block;
			width:95%;
			z-index:0;
			margin:40% 2.5%;
			font-size:1.2em;
			padding:2%;
			background-color:#efdfa0;
			text-align:center;
			border:thin solid #6A2444;
			border-radius:2px;
			filter : alpha(opacity=0);
			opacity : 0;
			transition:opacity 1s ease-in;}
.content-flex:hover .title-flex{filter : alpha(opacity=1);opacity:1;}
.content-galery:hover .title-galery{filter : alpha(opacity=1);opacity:1;}
/*!**** galeries details ******/
.titre-rubrique>a{color:#fff;}
.links{text-align:center;}
.legend-galery{
	color:#fff;
	position:relative;
	padding:1%;
}
/*//////////////////////////////////////////////////////////////////////
 * /// 10 - MENTIONS LEGALES PLAN DU SITE ET LICENCES
 * ///////////////////////////////////////////////////////////////////*/
.mentions,.licence,.sitemap{
	margin:2% 0;
	padding:2%;
	background-color:#fbfcd1;
}
.licence{
	margin:0 5%;
}
.mentions#title,.licence#title{
	font-size:2em;
	text-align:center;
}
.mentions h2,.licence h2{
	font-size:1.5em;
	font-weight:700;
	padding:2% 0;
}
.mentions div{
}
.mentions p,.licence p{
	font-size:1em;
	text-align:justify;
	text-indent:5%;
	line-height:1.5em;
}
.licence table{
	position:relative;
	width:90%;
	margin:0 auto;
}
.licence table th{
	font-size:1.2em;
	font-weight:700;
}
.sitemap h2{
	line-height:1.5em;
	font-size:1.2em;
	font-weight:500;
}
.sitemap h2>a{
	color:#000;
}
.sitemap li{
	line-height:1.5em;
	margin-left:5%;
}
.sitemap li>a{

}
/*//////////////////////////////////////////////////////////////////////
 * /// 12 - PANEL
 * ///////////////////////////////////////////////////////////////////*/
.panels{
	width:95%;
	margin:1%;
	background-color:transparent;
}
.on-panel{
	min-height:25px;
	margin:0;
	padding:0;
	text-align:left;
	
}
.label-panel,.label-active{
	display:inline-block;
	width:100px;
	height:25px;
	line-height:24px;
	text-align:center;
	font-size:1.1em;
	background-color:#efdfa0;
	border-collapse:collapse;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:thin solid #574C43;
}
.label-active{
	border-bottom:thin solid #efdfa0;
	font-weight:600;
	z-index:999;
}
.label-panel:hover,.label-active:hover{
	cursor:pointer;
}
.contener-panel{
	width:100%;
	max-width:425px;
	/*margin-top:-1px;*/
	overflow:hidden;
	background-color:#efdfa0;
	z-index:0;
}
.content-panel{
	opacity:0;
	width:0;
	height:0;
	float:left;
	-webkit-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
}
.content-panel-active{
	opacity:1;
	width:100%;
	height:250px;
	padding:10% 1%;
	margin:0;
	float:left;
	-webkit-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
}
.adress-block,.maps-block{
	vertical-align:top;
	width:49%;
	height:auto;
	display:inline-block;
}
.adress-block{
	padding:2%;
}
.adress-titre{
	padding:2%;
	text-align:center;
	text-decoration:underline;
	font-weight:700;
}
.adress-horaire{text-align:center;}
.maps-link{text-align:right;margin:1% 7%;}
.map{
	display:block;
	margin:2% auto;
	width:95%;
	height:200px;
	border:thin solid gray;
	border-radius:2px;
}

/*//////////////////////////////////////////////////////////////////////
 * /// 13 - CALENDRIER
 * ///////////////////////////////////////////////////////////////////*/

#calendar-0{
	width:220px;
	margin:2% auto;
}
#calendar-entete-0{
	width:210px;
	margin:1% auto;
}
#year-0{width:50px;text-align:center;}
#calendar-table-0{margin:1% auto;width:220px;height:220px;border-collapse:collapse;border:thin solid #C98481;}
#calendar-table-0 th,#calendar-table-0 td{
	width:14.28%;
	text-align:center;
	font-size:1em;
	vertical-align:middle;
	border:thin solid #C98481;}
#calendar-table-0 th{background-color:#1F3A58;color:#fff;}
.lessone-m,.months,.moreone-m,.lessone-y,.year,.moreone-y{margin:0;padding:1.5%;}
#calendar-table-0 .we{background-color:#8BB6BE;}
#calendar-table-0 #select-m-0{height:30px;}
.marker{
		background-color:#E1CF92;
		cursor:pointer;
	}
/*//////////////////////////////////////////////////////////////////////
 * /// 14 - LOGIN
 * ///////////////////////////////////////////////////////////////////*/
 #login{
	width:30%;
	margin:100px auto;
	border:thin solid gray;
	background-color:#fbfcd1;
 }
 #login>header{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:1.2em;
	background-color:#E8B769;
	border-bottom:thin solid gray;
 }
 #login #msg{
	margin:2% 5%;
	height:25px;
 }
 #login>#content{
	width:100%;
	height:150px;
 }
 #login .line{
	margin:2% 5%;
 }
 #login label{
	width:35%;
 }
 #login input[type='text'],#login input[type='password']{
	width:65%;
 }
 #login input[type='submmt']{
	float:right;
	width:25%;
 }
 #footer{
	clear:both;
	/*-khtml-opacity:.90; 
	-moz-opacity:.90; 
	-ms-filter:"alpha(opacity=90)";
	filter:alpha(opacity=90);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
	opacity:.90;
	padding:2%;*/
	background-color:#373738;
	margin-top:60px;
	padding:3% 0;
}

#footer>div>ul{
	margin-left:40%;
}

#footer>div a{
	color:#fff;
}

#footer>div ul{
	list-style-type:none;
	
}

#footer-arrow>a{
	display:inline-block;
	width:40px;
	height:60px;
	background-image:url('../img/totop.png');
	text-decoration:none;
	background-size:100%;
	background-repeat:no-repeat;
}
#footer-arrow>a:hover{
	text-decoration:none;
}
#footer-arrow-legend{
	width:40px;
	color:#fff;
	text-align:center;
}
/*//////////////////////////////////////////////////////////////////////
 * /// 15 - FLEXBOX
 * ///////////////////////////////////////////////////////////////////*/
#flexbox {
    border:solid 1px rgba(0,0,0,0.3);
    border-radius:4px;
    box-shadow:0 0 0 4px rgba(125,125,125,0.1);
    margin:5px auto;
    overflow:hidden;
    padding:0;
    position:relative;
    width:56%;
    background-color:#fbfcd1;
    z-index:0;
}

/* navigation items */
#flexbox .navigation {
    background:rgba(0,0,0,0.1);
    color:rgba(255,255,255,0.1);
    display:block;
    font-family:verdana,sans-serif;
    font-size:3em;
    height:220px;
    padding-top:80px;
    position:absolute;
    text-align:center;
   /*text-shadow:rgba(0,0,0,0.1); 0 0 2px;*/
    width:50px;
    -moz-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    z-index:4;
}

#flexbox:hover .navigation {
    background:rgba(0,0,0,0.3);
    color:rgba(255,255,255,0.8);
    text-shadow:rgba(0,0,0,0.7); 0 0 2px;
}

#flexbox .navigation:hover {
    background:rgba(0,0,0,0.5);
}

#flexbox .previous {
    left:0;
}

#flexbox .next {
    right:0;
}

/* carousel container */
#flexbox ul {
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -o-box-orient:horizontal;
    box-orient:horizontal;

    display:-moz-box;
    display:-ms-box;
    display:-webkit-box;
    display:-o-box;
    display:box;
    list-style-type:none;
    margin-top:5px;
    margin-left:-200px;
    padding:0;
    z-index:0;
}

/* standard width and height for the carousel items */
#flexbox li {
	position:relative;
    height:200px;
    margin-right:10px;
    width:200px;
    z-index:0;
}

/* animation properties for the carousel */
.animate ul {
    -moz-transition:margin 1s;
    -ms-transition:margin 1s;
    -webkit-transition:margin 1s;
    -o-transition:margin 1s;
    transition:margin 1s;
}
/*!*********************************************************************
 * *** -15-PAGE 404
 * ********************************************************************/
#error-block{
	margin-top:3%;
	padding:3%;
	background-color:#D2C18A;
	opacity:0.9;
	font-size:1.2em;
}
#text-404{
	margin-left:5%;
	line-height:1.5em;
}
#text-404>h2{
	font-size:1.5em;
	text-align:center;
	padding:2%;
}
#text-404>ul{
	list-style-type:disc;
	padding-left:5%;
}
#banner{
	width:100%;
	height:60px;
	margin:0;
	padding:0;
}
.titre-404{
	padding-top:50px;
	width:100%;
	text-align:center;
	height:50px;
	line-height:50px;
	font-size:36pt;
}
#text-404{
	margin-left:3%;
}
#colons{
	margin-top:3%;
}
#left-content{
	margin-left:3%;
}
#left-content>img{
	margin:0 auto;
	border:solid 4px #fff;
	border-radius:2px;
	text-align:center;
	width:50%;
	height:50%;
}
#right-content{
	vertical-align:middle;
}
.button{
	text-align:center;
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:2%;
}
.a-button{
	display:block;
	width:80%;
	height:40px;
	line-height:40px;
	margin-left:10%;
	margin-right:10%;
	font-size:11pt;
	text-decoration:none;
	text-align:center;
	background-color:#5D4C45;
	color:#D2C18A;
	border-style:none;
}
.a-button:hover{
	background-color:#353534;
	color:#D2C18A;
	cursor:pointer;
	text-decoration:none;
}
