<div id="chgpwd-window" ng-show="chgpwd">
	<h2 class="title-line">Changement du mot de passe</h2>
	<div id="error-msg">{{error}}</div>
	<p class="line"><label for='password'>Mot de passe : </label><input id='chgpassword' type='password' required name='chgpassword' /></p>
	<p class="line"><label for='confirm'>Confirmation : </label><input id='chgconfirm' type='password' required name='chgconfirm' /></p>
	<p class="buttons-line">
		<input id='no' type="button" name="no" value="Annuler" />
		<input id='yes' type="button" name="yes" value="Changer"/>
	</p>
</div>
