/*!********************************
*********00-TABLE DES OBJETS *******/
/*********************************/
.content{
 min-height:300px;
}
#admin-wrapper a{
	color:#0056F0;
}
#admin-wrapper{
	max-width:1115px;
	background-color:#C9C9C9;
	top:0;
	margin:0 auto;
}
#admin-wrapper #head-site{
	margin-top:80px;
	padding:5% 0;
}
.form-line>textarea{
	height:75px;
}
#head-site-admin{
	margin-top:30px;
	background-color:#C9C9C9;
}
#admin-body>h1{
	font-size:1.7em;
	width:100%;
	margin:1% 2%;
	text-align:left;
}
#action-lot{
	width:95%;
}
#actions-lot,#actions-search{float:left;font-size:1em;padding:2%;}
#actions-lot{
	width:60%;
}
#actions-search{
	width:39%;
}
#actions-search>p>input{width:70%;}
#actions-lot select{display:inline;}

#nb-elt-sel{clear:both;width:100%;}
#admin-content hr{
	width:95%;
	border:solid thin grey;
}
.table-admin-head{
	background-color:#E8B769;
	
}
.table-admin-head th{
	padding:1%;
	text-align:center;
	border-bottom:solid thin grey;
}
.table-admin-head .add{
	padding:1%;
}
.table-admin-head .titre-add{
	font-size:2em;
}
.center{
	text-align:center;
}
.left{
	text-align:justify;
	margin-left:2%;
}
.right{
	text-align:right;
	margin-right:2%;
}
#select{
	width:5%;
}
#created{
	width:20%;
}
td#order_num{
	width:7%;
}
#created>p{
	margin-top:0;
	vertical-align:top;
	height:10px;
}
#created:hover{
	cursor:pointer;
}
#titre>p{
	width:55%;
	vertical-align:top;
	height:10px;
}
#titre:hover{
	cursor:pointer;
}
.fleche-up,.fleche-down{
	display:inline-block;
	width:15px;
	height:10px;
	background-image:url('/static/img/tri.10.png');
	background-repeat:no-repeat;
	background-position: 5px;
}
.fleche-up{
	background-position:-10px;
}
#actions{
	width:20%;
}
.objet-line td{
	padding:0.5%;
}
.objet-line:nth-child(odd){
	background-color:#E3CCA2;
}
.objet-line:nth-child(even){
	background-color:#C9C9C9;
}
/*!************************************
 * ** 01- MENU ASIDE
 * ************************************/
 #admin-left-side{
	font-size:1.2em;
	margin-top:3em;
 }
 
 #admin-left-side>ul{
	margin-left:15%;
	width:80%;
 }
 #admin-left-side>ul>li{
	margin-top:0.5em;
 }
/*!************************************
***** 02- FORMULAIRES ******/
/*************************************/
.form>h2{
	width:80%;
	margin:2% auto;
	font-size:1.3em;
	text-align:center;
}
.form>message{

}
.form-line{
	margin:2% auto;
	width:80%;
}
.file-line{
	margin-top:1%;
	width:100%;
}
.form-line>label{
	width:40%;
	vertical-align:top;
}
.form-line>input,.form-line>textarea{
	width:60%;
	font-size:0.9em;
}
.form-line #submit{
	margin-left:40%;
	width:60%;
}
/*!************************************
***** 02- GENERALITES ******/
/*************************************/
#liste-generalites{
	margin-top:1em;
}
#add-param>legend{
	font-size:1.2em;
	padding:1%;
}
#div-add-param > label{
	display:inline-block;
	height:25px;
}
#div-add-param > select{
	width:200px;
	height:25px;
}
#div-add-param > input[type='button']{
	height:25px;
}
#limit{
	border:thin solid #000;
}
#liste-generalites label{
	display:inline-block;
	vertical-align:top;
	margin-left:1%;
	width:5%;
}
#liste-generalites .key{
	vertical-align:top;
	width:30%;
}
#liste-generalites textarea{
	height:120px;
}
#liste-generalites .value{
	width:50%;
}
.ligne-general a{
	
}
.div-del{
	display:inline-block;
	width:3%;
	height:auto;
	margin-left:1%;
	vertical-align:top;
}
/*! fenetre de confirmation generalites' */

#confirm-del{
	position:absolute;
	top:100px;
	width:100%;
	z-index:999;
}
#confirm-window{
	width:300px;
	height:200px;
	margin:2% auto;
	z-index:999;
	background-color:#C9C9C9;
}
#confirm-window>h2{
	font-size:1.3em;
	padding:5%;
	text-align:center;
}
#confirm-window>p{
	text-align:center;
	margin-top:2%;
}
#confirm-buttons{
	width:90%;
	margin:0 auto;
	padding-top:5%;
	text-align:left;
}
#confirm-buttons>input{
	width:80px;
	margin-left:1.5em;
}
/*! *** fenetre de changement de mot de passe */
#chgpwd{
	position:absolute;
	top:100px;
	width:100%;
}
#chgpwd-window{
	top:100px;
	width:300px;
	height:175px;
	background-color:#E3CCA2;
	margin:0 auto;
	z-index:999;
}
#chgpwd-window>p{
	width:90%;
	margin:2% auto;
}
#chgpwd-window label{
	width:39%;
}
#chgpwd-window input[type='password']{
	width:60%;
}
#chgpwd-window>h2{
	font-size:1.3em;
	padding:5%;
	text-align:center;
}
.buttons-line{
	width:90%;
	margin:5% auto;
	text-align:left;
}
.buttons-line>input{
	width:80px;
	margin-left:1.5em;
}
/*!************************************
 * *** 05 - GALERIES PHOTOS ***********/
/* ************************************/
#content-photos{
	position:relative;
	display:table; /*! important pour le draganddrop*/
	width:96%;
	height:400px;
	margin:4% auto;
	padding:2%;
	overflow-x:hidden;
	overflow-y:auto;
	border:thin solid #000;
}
.icone-photo{
	/*display:inline-block;*/
	position:relative;
	width:200px;
	height:240px;
	padding:1px;
	text-align:center;
	background-color:#E8B769;
	margin-bottom:5px;
	border-radius:5px;
	margin-left:1%;
	z-index:0;
}
.p-supp,.p-legende{
	position:relative;
	width:100%;
	font-size:9pt;
	z-index:0;
	margin:2px 0;
}
.p-supp{
	text-align:right;	
}
.order-num{
	width:20px;
	max-height:22px;
	text-align:center;
}
.a-supp-photo{
	display:inline-block;
	text-decoration:none;
	margin-top:2%;
	margin-right:2%;
	width:20px;
	background-image:url('/static/img/');
	background-repeat:no-repeat;
}
.photo{
	width:200px;
	height:150px;
	vertical-align:middle;
	text-align:center;

}
.photo img{
	width:175px;
	height:175px;
	vertical-align:middle;
	margin:0 auto;
}


.photo-legend input{
	font-size:9pt;
	width:175px;
}
[draggable="draggable"],[draggable="true"],[draggable],[draggable="false"]{
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	-khtml-user-drag:element;
	-webkit-user-drag:element;
}

.cell{
	position:relative;
	display:inline-block;
	width:200px;
 	height:250px;
 	margin-left:5px;
 	margin-top:3px;
 	background:transparent;
 	/*border:solid thin #000;*/
 	z-index:0;

}
.elt{
	position:absolute;
	/*margin:0;*/
	padding:5px;
 	z-index:6;
 }
 .elt*{
	position:relative;
	z-index:-1;
 }
