<div id="container-{{defilement}}-{{instance}}"><!-- instance est représentée par le sens-dernière instance -->
	<!--<div id="less-{{defilement}}-{{instance}}" class="less-command-{{defilement}}-{{instance}}">
		<a class="less-command-a"></a>
	</div>-->
	<div id="screen-{{defilement}}-{{instance}}" class="screen-{{defilement}}-{{instance}}">
		<div id="list-slides-{{defilement}}-{{instance}}">
			<div ng-include="template"></div>
		</div>
	</div>
	<div id="carousel-commands-{{defilement}}-{{instance}}" class="carousel-commands-{{defilement}}-{{instance}}">
		<a id="commands-first-{{defilement}}-{{instance}}" class="commands-first" href="javascript:void(0);"></a>
		<a id="commands-less-one-{{defilement}}-{{instance}}" class="commands-less-one" href="javascript:void(0);"></a>
		<a id="commands-play-{{defilement}}-{{instance}}" class="commands-play" href="javascript:void(0);"></a>
		<a id="commands-plus-one-{{defilement}}-{{instance}}" class="commands-plus-one" href="javascript:void(0);"></a>
		<a id="commands-last-{{defilement}}-{{instance}}" class="commands-last" href="javascript:void(0);"></a>
	</div>
	<!--<div id="plus-{{defilement}}-{{instance}}" class="plus-command-{{defilement}}-{{instance}}">
		<a class="plus-command-a"></a>
	</div><!--fin container-->
</div>
